@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');


body{
    background-color: rgb(27, 26, 26) !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} 


#canvasContainer {
    position: relative;
    width: 886px;
    height: 666px;
}
 
#canvas {
    z-index: 1;
}
 
#prizePointer {
    position: absolute;
    right: 25%;
    top: 11%;
    z-index: 999;
}

.winIndicator {
    fill: #fff;
}

img{
    transition: all 0.075s ease-in 0.001s;
}

.rotate{
    transform: rotate3d(0, 0, 1, -56deg);
}

/* div.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: no-repeat;
} */

.box{
    display: flex;
    flex: 1 1 0px;
    height: 160px;
    width: 65px;
    background-color: rgb(32, 143, 125);
    border: 1px solid chartreuse;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
}

.box > span {
    font-weight: 700;
    font-size: 18px;
}